#app {
  display: flex;
}
.demo {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 10px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
